<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
        body {
            padding-top: 120px;
            padding-left: 40px;
        }

        @media screen and (max-width:390px) {
            body {
                padding-top: 0px;
                padding-left: 0px;
            }
        }
    </style>
    </head>
    <body>
        <h1>Hmm...</h1>

        <p class="errorMessage">Disculpe, ha ocurrido un error!</p>
    </body>
</html>